div{
		       font-size:10pt;
			   }
		      .quad1{color:white;
		             background-color:black;
					 height:50px;
		       }   
		      .quad2{color:black;
		             background-color:white;
		       }
			  .quad3{color:white;
		             background-color:cornflowerblue;
					 height:300px;
					 width:200px;
					 margin:10px;
		       }
			  .quad4{color:white;
		             background-color:red;
					 margin:50px;
			   }
			  .quad5{background-color:gray;
			         height:75px;
					 width:75px;
					 margin:25px;
			   }
			  .line1{background-color:gray;
			        height:1px;
					margin:10px;
			   }
			  .line2{background-color:white;
			        height:1px;
					margin:10px;	
			   }
			  .text1{color:gray;
			         font-size:25pt;
			   }
			  .text2{color:white;
			         font-size:25pt;
					 margin:10px;
					 text-align:center;
			   }
			  .text3{color:white;
			         font-size:10pt;
					 margin:10px;
					 text-align:center;
			   }
			  .text4{color:black;
			         font-size:25pt;
			   }